$sm: 576px;
$md: 768px;
$lg: 1024px;
$x: 1200px;
$xl: 1366px;
$xxl: 1920px;

// Small
@mixin sm {
  @media (max-width: $sm) {
    @content;
  }
}

// Medium
@mixin md {
  @media (max-width: $md) {
    @content;
  }
}

// Large
@mixin lg {
  @media (max-width: $lg) {
    @content;
  }
}

// Extra large
@mixin x {
  @media (max-width: $x) {
    @content;
  }
}

// Extra large
@mixin xl {
  @media (max-width: $xl) {
    @content;
  }
}

// Extra large
@mixin desktop-large {
  @media (max-width: $xl) {
    @content;
  }
}

// Extra extra large
@mixin xxl {
  @media (max-width: $xxl) {
    @content;
  }
}

// Medium min
@mixin md-min {
  @media (min-width: $md) {
    @content;
  }
}
